body {
    background-color: whitesmoke;
    display: grid;
    justify-items: center;
}

#contenedor-calculadora{
    background-color: gray;
    width: 250px;
}

#contenedor-calculadora > input {
    width: 100px;
}

#contenedor-opciones{
    background-color: rgb(255, 252, 47);
    display: grid;
    justify-items: center;
}

button{
    width: 50px;
    height: 50px;
}